<div class="card">
    <ion-img src="assets/icon/annonce.png"></ion-img>
  
  <div class="card-content"> 
    <h2>{{item.title}}</h2>
    <p>{{item.description}}</p>
    <ion-buttons>
      <ion-card>
        
        <ion-card-content>
          
          <p><ion-icon slot="icon-only" name="call"></ion-icon> {{item.phoneNumber}}</p>
        </ion-card-content>
      
      </ion-card>
      <ion-button>
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </div>
  
  
</div>