ion-searchbar {
    --box-shadow:none;
    --background: #e8e8e87a;
    --border-radius:1.2rem;
    --placeholder-font-weight: 600;
    --placeholder-opacity:0.2;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
